<div class="span3 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav">
        #foreach($s in ${doc.sections})
            <li><a href="#${s.id}"><i class="icon-chevron-right"></i> ${s.title}</a></li>
        #end
    </ul>
</div>